.book-title {
  font-weight: bolder;
  font-style: normal;
  text-align: center;
  font-family: cursive;
  color: blue;
}

.recipes {
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: blue;
}

.cake {
  font-weight: normal;
  text-align: left;
  color: red;
}
