.book-title {
  font-weight: bolder;
  font-style: normal;
  text-align: center;
  font-family: cursive;
  color: blue;
}

.recipes {
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-family: Georgia, serif;
  color: blue;
}

.cake {
  font-weight: normal;
  text-align: left;
  font-family: Georgia, serif;
  color: red;
}

.light {
  font-weight: normal;
  text-align: left;
  font-family: sans-serif;
  color: grey;
}

.dark {
  font-weight: normal;
  text-align: left;
  font-family: sans-serif;
  color: grey;
}

p {
  font-weight: normal;
  text-align: left;
  font-family: serif;
  color: black;
}
